# registry = http://npm.iwhalecloud.com:8081/repository/npm-taobao-new/
# registry = http://npm.iwhalecloud.com:8081/repository/npm-all/
registry = http://npm.iwhalecloud.com:8081/repository/npm-internal/